@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --red:#ff3838;
}
*{
    font-family: 'Roboto', sans-serif;;
    margin:0px ;padding:0px;
    box-sizing: border-box;
    border:none;
    text-decoration: none;
    outline:none;
    text-transform: all .2s linear;
}
*::selection{
  
    color:#fff;

}
section{
    padding:2rem 9%;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    
}
body{
    background-color:#f7f7f7;

}
header{
    position: absolute;
    top:0;left:0;right:0;
    display: flex;
    align-items: center;
    padding:2rem 9%;
    justify-content: space-between;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3);
    z-index: 3;
   
 
}
header .logo{
    font-size:2rem;
    color:var(--red);
    font-weight: 1000;
}
header .logo .fa{
    font-size: 2rem;
    font-weight: 1000;

}
header .navbar a{
    /* background-color: blueviolet; */
    /* width:100%; */
    font-weight: 1000;
    font-size:1.5rem ;
    margin-left:4rem;
   
    color: white;
    text-transform: capitalize;
    transition: 0.6s;

}
header .navbar a:hover{
    color:var(--red);
}
#menu-bar{
    font-size: 3rem;;
    cursor: pointer;
    color: white;
    border:0.1rem solid white;
    border-radius: .3rem;
    padding:.5rem 1.5rem;
    display: none;
}


/* home section */

.home{
   display: flex;
   flex-wrap:wrap ;
   padding:.2rem 9%;
   min-height: 100vh;
   align-items: center;
   background: url("../image-2.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   /* justify-content: center; */
   gap:1.5rem;
   color: whitesmoke;
}
.home .firstpart{
    flex:1 1 40rem;
    /* max-width: 40%; */
    padding-top: 6.5rem 9%;
}
.home .secondpart{
    flex:1 1 40rem;
    /* width:100%; */
}
.home .secondpart img{
    border-radius:20px;
    flex-wrap:wrap ;
    z-index: 0;
    width:100%;
    animation: float 2s infinite;
}
.firstpart h3{
    font-size: 4rem;
    text-shadow: 2px 2px rgba(0,0,0,0.1);

}
.firstpart p {
    padding-top:4rem;
    font-size: 1.5rem;
    text-align: left;
    /* width: 40rem;; */
}
#highlight{
    color: var(--red);
}
.firstpart button{
    margin-top: 20px;;
    background-color: var(--red);
    border: 2px solid var(--red);
    padding:9px 9px ;
    border-radius: 10rem;
    cursor: pointer;
    color: white;
    transition: 0.4s;

}
.firstpart button:hover{
 background-color: transparent;
 color: white;
}
@keyframes float{
    0%,100%{
        transform:translateY(0) ;
    }
    50%{
        transform:translateY(2rem) ;
    }
}
#btn-services{
    margin-top: 20px;;
    background-color: transparent;
    border: 2px solid var(--red);
    padding:9px 9px ;
    border-radius: 10rem;
    cursor: pointer;
    color: var(--red);
    position: relative;
    z-index: 0;
    overflow:hidden;
    display: inline-block;
}
#btn-services::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;;
    right: 0;
    width:0%;
    height: 100%;
    background: var(--red);
    transition: 0.8s linear;
    z-index: -1;


}
#btn-services::before:hover{
    width:100%;
    left: 0;
    /* right: 0; */
}

/* Services Section */
.heading{
    text-align: center;
    font-size:3.5rem;
    padding:1rem;
    color: #666;
   
}

.services .box-container{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    gap: 1.5rem;
    margin-top:3rem;
}

.services .box-container .box{
    flex:1 1 30%;;
    /* width:30%; */
    position:relative;
    overflow:hidden;
    
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border:0.5rem solid darkblue;
    cursor: pointer;
    border-radius:.5rem ;
    transition: 0.4s;

}

.services .box-container .box .image{
  width:100%;
  height:100%;
  object-fit: cover;
  position: absolute;
  top:-100%;
  transition: 0.4s ease-in;
  left:0%;

}
.services .box-container .box .content{
 text-align: center;
 padding:2rem;

  
  }
  .services .box-container .box:hover img{
    top:0;
   
     
     }
     .services .box-container .box:hover {
        /* background-color: blanchedalmond; */
        box-shadow: 1rem 1rem 1rem 1rem rgba(0,0,0,0.5);
        /* color: whitesmoke; */
       
         
         }
         .services .box-container .box:hover .content img{
             /* color: whitesmoke; */
         }
  .services .box-container .box .content h3{
    font-size: 2rem;
    padding:2rem;
    color:var(--red)
   
     
     }
     .services .box-container .box .content p{
        font-size:1.5rem;
       
         
         }
  .services .box-container .box .content img{
   width:90px;
    
     
     }
   


     /* gallery css*/
     .gallery{
         margin-top:4rem;
     }
     .gallery .gallery-container{
         display: flex;
         margin-top: 4rem;
         flex-wrap: wrap;
         gap: 1.5rem;
         /* margin-top: 20px; */
         /* padding:1.2rem; */
     }
     .gallery .gallery-container .gallery-box{
         flex:1 1 30rem;
     }
     .gallery .gallery-container .gallery-box .img{
         width:auto;
         margin:10px;
     }
     .gallery .gallery-container .gallery-box img:hover{
      opacity: 0.6;
      cursor: pointer;  
     }
    .gallery-text{
        position:absolute;
        top:0;
        left: 0;
        
    }


/* Contact Us CSS */
.contactbox{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}
.contactus .contactus-first
{
    flex:1 1 30rem;
    margin:5rem 0px;
}
.contactus-first input{
    padding:1.5rem;
    width:100%;
    background-color: transparent;
    border: 2px solid darkblue;
    margin:10px 0px;
    border-radius: 10rem;;
}
.contactus-first input::placeholder{
    font-size: 1.7rem;
}
.contactus-first .mapbox iframe
{
    width:100%;
}
.contactus-first textarea::placeholder{
    font-size: 1.7rem;
}
.contactus-first textarea{
    padding:1.5rem;
    width:100%;
    background-color: transparent;
    border: 2px solid darkblue;
    margin:10px 0px;
    border-radius: 2.5rem;;
}
#contact-btn{
    background-color: darkblue;
    padding:1.9rem;
    width:100%;
    border: 2px solid #f7f7f7;
    color:white;
    cursor: pointer;
}

.footer{
    background-color: darkblue;
    width:100%;
    padding: 2.6rem;
    text-align: center;
    color: white;
    font-size: 1.6rem;
}

/* media Query */
@media(max-width:991px)
{
    html{
        font-size: 55%;
    }
    header{
        padding:2rem;
    }
    .services .box-container{
        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: column;
        gap: 1.5rem;
        margin-top:3rem;
    }
    /* .services .box-container .box{
        flex:1 1 50%;
        width:50%;
        position:relative;
        overflow:hidden;
        
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
        border:0.5rem solid darkblue;
        cursor: pointer;
        border-radius:.5rem ;
    
    } */
}
@media(max-width:875px)
{
    .home .firstpart{
        flex:1 1 40rem;
        /* max-width: 40%; */
        padding-top: 13rem;
    }
    .gallery .gallery-container .gallery-box img{
        width:100%;
        
    }

}
@media(max-width:768px)
{
    #menu-bar{
        display: initial;
        transition: .1s;
    }
    header .navbar{
        position: absolute;
        top:100%;
       
        right: 0;
        background:#f7f7f7;
        left:0;
        border-top:.1rem solid rgba(0,0,0,0.1);
        transition: 0.5s ;
        /* background-color: rgba(0,0,0,0.1); */
        /* border:2px solid black; */
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header .navbar.active{
       clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    header .navbar a{
        display: block;
        margin:1.5rem;
        font-weight: 1000;
        text-align: center;
        padding:1.5rem;
        border-radius: 2rem;
        color:var(--red);
        border:0.2rem solid rgba(0,0,0,0.1);
        border-left:0.2rem solid var(--red);
    }
}

